
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
.vs
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*VisualState.xml
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.svn
*.dbmdl
*.vsmdi
/sys$command
*.ncrunch*
/Jetabroad.Web/Admin/Errors
/logs
/Jetabroad.AvailabilityGateway/Jetabroad.AvailabilityGateway.Web/admin/errors
/Jetabroad.AvailabilityGateway/logs
/Jetabroad.AvailabilityGateway/logs-abacus
/Jetabroad.Control/Errors

# nuget
packages/*
!packages/repositories.config

# this handles separate solutions that also use nuget packages
/*/packages/*
!/*/packages/repositories.config
/Jetabroad.AvailabilityGateway/logs-bam
/Jetabroad.AvailabilityGateway/logs-vayant
/sql2012.txt
/Jetabroad.AvailabilityGateway/Jetabroad.AvailabilityGateway.Web/App_Data
/_NCrunch_Jetabroad/StoredText/*
/*/NLog.Jetabroad.Notification.config
/*/*/NLog.Jetabroad.Notification.config
/Jetabroad.sln.ide/*
.vscode
!/Misc/AWS/Environment/.vscode
**/yarn.lock
